body{
    font-family:'Montserrat';
    text-align:center;
}

h1, h2, h3, h4, h5, h6 { 
    font-weight:bold;
}

p{
    color:#8f8f8f;
}

.big-heading{
    font-family:'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.medium-heading{
    line-height:1.5;
    font-size:3rem;
}

#title{
    background-color:#ff4c68;
    color:white;
    text-align:left;
}

.container-fluid{
    padding:7% 15%;
}

/* Navigation Bar */
.navbar{
    padding-bottom:4.5rem;
}

.navbar-brand {
    font-family:'Ubuntu';
    font-size:2.5rem;
    font-weight:bold;
}

.navbar-item{
    padding:0 18px;
}

.nav-link{
    font-size:1.2rem;
}

/* Download buttons */

.download-button{
    margin:5% 3% 5% 0;
}

/* Title image */

.title-image{
    width:60%;
    transform:rotate(25deg);
    position:relative;
    left:15%;
}

/* feature section */

#features{
    background-color:white;
    position:relative;
    z-index:1;
    margin:-200px 0 0 0;
}

.feature-box{
    padding:5%;
}

.feature-icon{
    font-size:400%;
    color:#ef8172;
}

.feature-icon:hover{
    color:#ff4c68
}

/* Testimonials */

#testimonials{
    
    background-color:#ef8172;
    color:white;
}

.testimonial-image{
    width:10%;
    border-radius:50%;
    margin:20px
}

#press{
    background-color:#ef8172;
    padding-bottom:3%;
}

.press-logo{
    width:15%;
    margin:20px 20px 50px 20px;
}



/* pricing */

.card{
    /* margin:1rem; */
}

#pricing{
    padding:100px;
    
}

.pricing-column{
    padding:3% 2%;
}

.pricing-button{
    bottom:0;

}

/* Call to Action */

#cta{
  background-color:#ff4c68;
  color:white;
  

}

#cta h3{
  font-family:'Montserrat';
  font-weight:bold;
  font-size:3.5rem;
  padding-bottom:10%;
}

/* #cta button{ */
/*   margin:0 15px; */
/* } */


/* Footer */
#footer{
  
  background-color:white;
  padding:10% 15%;
}

#footer .bi{
  margin:20px;
  font-size:150%
}

#footer p{
  font-weight:500;
  font-size:17pt;
  margin:40px;
}

@media (max-width: 1028px){
  .title-image{
    position:static;
    transform:rotate(0);
  }
  #title{
    text-align:center;
  }
}

